.game-title { position:absolute; top:-10000px; }

html,body {

	width:100vw;
	overflow:hidden;
	overflow-x: hidden;
	margin:0px;
}
body {
	font-family: monospace;
	background: #111;
	color: #eee;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	transition:opacity .2s;
	cursor:url(ui/cursor.png),auto;

	opacity:0;
	transition: opacity 1s;
	overflow-x: hidden;
}

* {font-family: unifont; image-rendering: pixelated}

#main-ui { 
	transition: opacity 3s;
	opacity:1;
}
.dead #main-ui {
	opacity:0;
}

#main-ui>div {
    padding: 5px;
	margin-bottom:6px;
}
#level-label {
    margin-left: 5px;
    margin-top: 3px;
    display: inline-block;

}

button {
	background: #444;
	color: #000000;
	border: none;
	margin: 5px;
	cursor: pointer;
	font-size:1px;
	width:40px;
	height:40px;
	cursor:url(ui/pointer.png),auto;

}

.monsters button:not(button:disabled) { 
	cursor:url(ui/sword.png),auto;
}

button:disabled:not(.monsters button) {opacity:.25;}

button:hover:not(button:disabled) {
	box-shadow: 0px -2px 4px white;
}
#log {
	border: 1px solid #333;
	padding: 10px;
	height: 200px;
	overflow-y: auto;
	background: #222;
	white-space: pre-line;
}

#hpbar div {
	background: #963939;
	width: 100%;
	height: 100%;
}

.bar {

	display: block;
	width: 216px;
	height: 18px;
	background: #1a1a1a;
	border:1px solid gray;
}
.bar strong { 
	position: absolute;
	margin-left: 5px;
}

#xpbar div {
	background: #395096;
	width: 0%;
	height: 100%;
}

.door { 
	background: url('dungeon/wee_dung_door_grey.png'); 
	background-size:cover; 
	width:40px; 
	height:40px; 
	transition: width 1s, height 1s, top 1s, left 1s;
	vertical-align: top;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
}

.door.open {
	background-image: url(dungeon/wee_dung_door_grey_open.png);
	opacity:1;
}


.door.chosen {
	width: 200vw;
	height: 200vh;
	top: -50vh;
	left: -50vw;
	opacity:1;
}
#doors { 
	height:45px; 
	overflow:visible; 
	background: url(dungeon/wee_dung_brick_grey.png);
}

.monster { display:none;  background: url('monsters/wee_mons_slime_idle_d_1.png'); background-position: center top; background-size:130%; width:60px; height:60px; animation: combatIdle 2s ease 0s infinite normal forwards; }


button.item {
    background: none;
    border: 1px solid white;
    background-size: contain;
    font-size: 14px;
    color: white;
    text-shadow: -1px -2px #0000008c;
    vertical-align: top;
    align-items: flex-end;
    justify-content: flex-end;
    display: inline-flex;
    font-weight: bold;
    padding: 2px;
}
button.item.equipped { border-width:2.5px; }

div#inventory {
	margin-top: 2rem;
	padding-top: 1rem;
	padding-bottom:1rem;
	border: 1px solid gray;
}

#last-log {
	
	margin-top: 1rem;
	text-transform: uppercase;
	min-height:3.5rem;
	
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.monsters { display:flex; justify-content: center; align-items: flex-end; height:100px; }

.chest { opacity:0; transition: opacity .5s; visibility:hidden; background-size:cover; width:40px; height:40px; margin-bottom:12px;
    position: relative;
    top: -48px;
}
.chest.closed { background-image:url('dungeon/wee_dung_chest.png'); }
.chest:not(.closed){ background-image:url('dungeon/wee_dung_chest_open.png'); }
.chest.empty:not(.closed) {background-image:url('dungeon/wee_dung_chest_empty.png');}

#hearts {

    display: flex;
    justify-content: center;
    max-width: 90px;
    margin: 0 auto;
    flex-flow: row wrap;

}
.heart { display:inline-block; background:url('ui/wee_ui_heart.png'); background-size:cover;  margin:5px; width:15px; height:15px; }

#item-info {

	display:none;
	
    padding-bottom: 1rem;
    font-style: italic;
	min-height:2.5rem;
    border: 1px solid gray;
    padding: 1rem;
    box-shadow: 0px -2px 4px black;
	margin-top:3px;
}
#item-info.open {
	display:block;
}
#item-info button, #death-text button {
	
    font-size: 20px;
    width: auto;
    border: 1px outset white;
    color: white;
    padding: 1px 24px;
    height: auto;
    margin-top: 1rem;
    box-shadow: 0px 1px 2px gray;


}

#game-frame {
	text-align:center;
	background:url(dungeon/wee_dung_floor.png);
	position: relative;
}
.dead #game-frame {
	
	transition: opacity 3s;
	opacity: 0;
	pointer-events: none;
}
#death-text { opacity: 0; transition: opacity 1s; }
.dead #death-text { display:block; opacity: 1; 
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 75px;}

.critText { color:yellow;}

#level-up {
	
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 2px 2px 2px black;
	transition: left 1.5s linear;
}
#level-up.level-up-slide {
	left: -100%;
}
#level-up h2 {
    font-size: 53px;
}

details { display:none; }

#annoying-splash {
	position: absolute;
	z-index:33;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    background-image: url(dungeon/brick_dark.png?1);
	transition:left 2.3s ease-in;
}

@keyframes combatIdle {
	0%,
	50%,
	100% {
		background-size: 130%;
	}

	25%,
	75% {
		background-size: 140%;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

/* https://codepen.io/zachkrall/pen/MWWGMPx */
.wavy {
	animation-name: wavy;
	animation-duration: .4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	position: relative;
	top: 0;
	left: 0;
  }
  @keyframes wavy {
	0% {
	  top: 0px;
	}
	50% {
	  top: -15px;
	}
	100% {
	  top: 0px;
	}
  }

  @keyframes enemyAttack {
	0% {
		animation-timing-function: ease-in;
		transform: translateY(45px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.explosion {
    width: 64px;
    height: 64px;
    background-image: url(fx/Gw6wm.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 64px;
    background-position-y: 64px;
	opacity:1;
    margin: 0 auto;
	animation: explode .25s steps(3);
}

@keyframes explode {
	from { background-position-y: 0px; }
	to { background-position-y: -192px; }
}